#header{
  text-align: center;
  margin-bottom:30px;
}
.sortable{
  color: green;
}

ul {
  margin:0;
  padding:0;
  width:80%;
  /* text-align:center; */
  margin-left:auto;
  margin-right:auto;
}
li {
  /* cursor:move; */
  display:block;
  padding:5px 10px;
  background:white;
  border-bottom:solid 1px gray;
}
.dragHandle{
  display: inline-block;
  padding: 4px 4px;
  margin-right: 10px;
  background-color: grey;
  border-radius: 4px;
  cursor: move
}
input{
  margin-right:10px;
}
.datepicker{
  width: 125px
}
.duration{
  width:90px
}
.task_atribute_title{
  display:inline-block;
}
.task{
  margin-left:40px;
}
#title_task{
  display:inline-block;
  margin-left: 70px;
  margin-right: 70px;
}
#title_date{
  display:inline-block;
  margin-right: 20px;
}
#title_duration{
  display:inline-block;
  margin-right: 20px;
}
td{
  text-align:center;
}
#schedule_block{
  width: 100%;
  text-aling:center;
}
.schedule{
  width: 50px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
table{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}
#table_title{
  text-align:center;
  margin-bottom:10px;
}
button{
  margin-right:10px;
}
